/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
}
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}
/* Jumbotron */
.jumbotron{
    background-image: url(img/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}
.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0px;
}

.jumbotron .display-4{
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}
.jumbotron .display-4 span{
    font-weight: 500;
}

/* Info Panel */
.info-panel{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel img{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.info-panel img{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p{
    font-size: 14;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}

/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
}

/* Working Space */
.working-space{
    margin-top: 120px;
    text-align: center;
}
.working-space h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}
.working-space span{
    font-weight: 500;
}
.working-space p{
    font-size: 18px;
    font-weight: 200;
}
.testimonial h5{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
    margin-top: 100px;
}

.testimonial figure img{
    width: 60px;
    margin: 20px 10px 10px;
    opacity: 0.7;
    }

.testimonial figure img.utama{
    width: 90px;
    opacity: 1;
    margin-top: -5px;
}

.testimonial figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
    margin-top: -5px;
}
.testimonial figure p{
    font-size: 12px;
    color: #acacac;
    margin-top: -5px;

.testimonial figcaption{
    text-align: center;
}

/* Footer */
.footer{
    margin-top: 100px;
}
.footer p{
    color: #acacac;
    font-size: 18px;
}

/* Desktop Version */
@media(min-width:992px){
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron{
        margin-top: -75px;
        height: 640px;
    } 
    .jumbotron .display-4{
        font-size: 62px;
    }
    .working-space{
        text-align: left;
    }
    .testimonial h5{
        font-size: 32px;
    }
}
 
